<%- include('../partials/header'); -%>

<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= BuildingShowVar.title %></div>
        <form class="ui form" action="/buildings/<%= BuildingShowVar._id%>?_method=PUT" method="POST">
            <div class="field">
                <label>Nombre</label>
                <input type="text" name="building[title]" value="<%= BuildingShowVar.title  %>">
            </div>
            <div class="field">
                <label>Imagen</label>
                <input type="text" name="building[image]" value="<%= BuildingShowVar.image  %>">
            </div>
            <div class="field">
                <label>Descripcion del Edificio</label>
                <textarea name="building[description]"><%= BuildingShowVar.description %></textarea>
            </div>
            <input class = "ui basic violet button" type="submit">
        </form>
</div>

<%- include('../partials/footer'); -%>