<%- include('../partials/header'); -%>

<div class="ui main text container">
    <div class="ui huge header">Buildings App</div>
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% buildingsVar.forEach(function(building){ %>
                    <div class="item">
                        <div class="image">
                            <img src="<%= building.image  %>" >
                        </div>
                        <div class="content">   
                            <h2><%= building.title  %></h2>
                            <div class="meta">
                                <span><%= building.created.toDateString()  %></span>
                            </div>
                            <div class="description">
                                <p><%= building.description.substring(0, 100) %>...</p>
                            </div>
                            <div class="extra">
                                <a class= "ui floated basic violet button" href="/buildings/<%= building._id  %>">Leer mas!</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
</div>

<%- include('../partials/footer'); -%>