<%- include('../partials/header'); -%>

<div class="ui main text container segment">
    <div class="ui huge header"><%= BuildingShowVar.title %></div>
        <div class="ui top attachedr">
            <div class="item">
                <img class="ui centered rounded image" src="<%= BuildingShowVar.image  %>" >
                </br>
                <div class="description">
                    <p><%= BuildingShowVar.description %></p>
                </div>
                </br>
                <div>
                    <p>Subido por <%= BuildingShowVar.author.username %></p>
                </div>
                <div class="content">    
                    <span><%= BuildingShowVar.created.toDateString()  %></span>
                </div>
                <% if (currentUser && BuildingShowVar.author.id.equals(currentUser._id)) { %>
                </br>
                </br>
                </br>
                <form class="inlinebutton" action="/buildings/<%= BuildingShowVar._id %>/edit" method="GET">
                    <button class="ui orange basic button">Edit</button>
                </form>              
                <!-- OTRA OPCION AL BOTON EDIT <a class="ui orange basic button" href="/buildings/<%= BuildingShowVar._id %>/edit">Edit</a> */%> -->
                <form class="inlinebutton" action="/buildings/<%= BuildingShowVar._id %>?_method=DELETE" method="POST">
                    <button class="ui red basic button">Delete</button>
                </form>
                <% }; %>
                </br>
                </br>
                </br>
                <form action="/buildings/<%= BuildingShowVar._id %>/comments/new" method="GET">
                    <button class="ui blue basic button">Add Comment</button>
                </form>
                </br>
                <% BuildingShowVar.comments.forEach(function(comment){ %>
                    <p>
                        <strong><%= comment.author.username %></strong> - <%= comment.text %> 
                        <form class="inlinebutton" action="/buildings/<%= BuildingShowVar._id %>/comments/<%= comment._id %>/edit" method="GET">
                            <button class="ui orange basic mini button">Edit</button>
                        </form>
                        <form class="inlinebutton" action="/buildings/<%= BuildingShowVar._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                            <button class="ui red basic mini button">Delete</button>
                        </form>
                    </p>
                    </br>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer'); -%>